.main-body{
    border: 2px solid white;
    padding: 64px 50px;
    margin-top: -15vh;
    z-index: 1;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 8px 0 rgb(26 24 30 / 6%);
    box-shadow: 0 2px 8px 0 rgb(26 24 30 / 6%);
    background-color: #fff;
}
.search-box{
    border-radius: 4px;
    padding: 11px 16px;
}
.search-result-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.generate-button{
    background: #146eb4;
    color: white;
    font-weight: 700;
}
.download-button{
    border-color: #146eb4;
    color: #146eb4;
    font-weight: 500;
    padding: 6px 30px;
}
.search-result{
    display: flex;
    justify-content: space-between;
}
.search-result-card:hover{
    border: 2px solid gray;
    cursor: pointer;
}
.search-result-card{
    white-space: normal;
    background-color: #f2f2f2;
    line-height: 22px;
    padding: 8px 16px;
    min-height: 60px;
    width: 46%;
    font-weight: 600;
    text-align: center;
    color: black;
    justify-content: center;
}
@media screen and (max-width:770px) {

    .search-result-title{
        flex-direction: column;
    }
    .search-result{
        flex-direction: column;
    }
    .search-result-card{
        width: 100%;
    }
}
